/*  ------------------------------------------------------------
	Authors: Elena Moe (A01158749); Anastasiia Viun (A01162432)
	------------------------------------------------------------
*/

/* 	------------------------------
	HTML Selectors
	------------------------------
*/

@import url("reset.css");

body{
	background: #e6e6fa;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



ul a{
	padding: 25px;
}


/*  ------------------------------
	.class Selectors
	------------------------------
*/

.container {
	position: relative;
	margin: 0 auto;
	width: 94%;
	max-width: 1200px;
	font-family: "Comic Sans MS", cursive, sans-serif;

}

.content {
	position: relative;
	padding-top: 80px;

}

.content h1,h2,h3,h4,h5,h6{
	background-color: #aeaed4;
	color: #191970;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}

.content p {
	margin-bottom: 10px;
	font-size: .90em;
}

.content a:link{
	color: #191970;
}

.content a:visited{
	color: #ff0066;
}

.content a:hover{
	color: #ff00ff;
}

.content a:active{
	color: #ff00cc;
}	

.content ul, ol{
	font-weight: bold;
	color: #191970;
}

.content blockquote{
	color: #191970;
	font-weight: bold;
}

.content table, td, th {
	border: 1px solid #ddd;
	text-align: left;
}

.content table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 10px;
}

.content th, td{
	padding: 15px;
	color: #191970;
}

.center{
	text-align: center;
}

.nested-list {
	margin-left: 10px;
}


/*  -------------------------------
	#id Selectors
	-------------------------------
*/

#header {
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #191970;
	color: white;
}

#header h1 {
	top: 0px;
	margin: 0px;
	text-transform: uppercase;
	font-size: 1.2em;
}

#navigation {
	position: absolute;
	right: 0;
	top: -15px;
	height: 60px;
}

#navigation ul li {
	float: left;
	list-style-type: none;
}

#navigation ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 12px 10px;
}

#navigation ul li a:hover{
	color: #ff00ff;
}

#navigation ul li a:active{
	color: #ff0000;
}

#footer {
	position: absolute;
	left: 0;
	height:60px;
	z-index: 2;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #191970;
	color: white;
	text-align: center;
}

#sitemap li {
	margin: 25px;
	
}


#sitemap {
	margin-top: 25px;
	background-color: white;
	padding-bottom: 25px;
}

/* 	
	------------------------
	For Responsive
	------------------------
*/

@media (max-width: 599px) {
#header .container {
	width: 100%;
}
	
#header h1 {
	padding-left: 3%;
}

#navigation {
	width: 100%;
	top: 60px;
}

#navigation:before {
	content: '\2630';
	display: block;
	position: absolute;
	right: 3%;
	top: -50px;
	line-height: 40px;
	font-size: 1.4em;
	cursor: pointer;
}

#navigation ul {
	background: #222;
	width: 100%;
	margin: 0px;
}

#navigation ul li {
	float: none;
}

#navigation ul li a {
	padding: 10px 3%;
	line-height: 20px;
	border-top: 1px solid #333;
}
}

#prototype{
	color: red;
	font-weight: bold;
}

.green-text {
	color: #087A64 !important;
}
.red-text {
	color: #A00A1F !important; 
}
.yellow-text {
	color: #A66C0B !important;
}

.table-header {
	margin: auto;
	text-align: center;
}